[2017-07-26 08:28] zoe218 opened #1 "What dataset do you use?"
hello, I want to run your project, but I dont know choose which dataset, can you help me? Thanks a lot @Belval

[2017-07-26 10:20] Belval commented on #1
@zoe218 I am still working on this project unfortunately so I'm afraid there isn't much to run (because the training part isn't implemented yet).

During development I used [Synth90k](http://www.robots.ox.ac.uk/~vgg/data/text/) but it only contained words and not sentences so I had to take a break and make my own data generator that you can see/clone here:

https://github.com/Belval/TextRecognitio

[2017-07-27 01:11] zoe218 commented on #1
hah, thanks a lot, best wish for you and your project~waiting~~~ @Belval

[2017-07-30 13:41] songwendong commented on #1
Cannot convergence using this codeI
I train model  more than 50W steps, the network cannot convergence, the edit lengths are always large
Any suggestions? I am new at deep learning.

[2017-07-30 16:08] Belval commented on #1
@songwengdong very sorry but I believe you should read my answer to Zoe. The project is **not** ready, only the inference.

I would invite you to take a look at [crnn-tensorflow](https://github.com/AimeeKing/crnn-tensorflow) which is in working condition.

I expect to complete everything in the coming week but I had to take the time to generate synthetic data for training.

[2017-07-31 07:04] songwendong commented on #1
thank you @Belval , crnn-tensorflowd doesn't work ，When running, it will be reported wrong,Can you teach me how to use crnn-tensorflowd?

[2017-07-31 11:08] songwendong opened #2 "missing files"

[2017-07-31 11:40] Belval commented on #2
Apologies, but I do not understand Chinese...

[2017-07-31 11:44] Belval commented on #1
@songwendong I wasn't aware that it didn't work. I would recommend opening an issue on their repository as I would not be able to help you.

[2017-07-31 11:46] songwendong commented on #2
@Belval this  code is short of files. Are you sure you can train?  many errors reported.......Can you share the full version of the code?
thank you

[2017-08-02 13:13] Belval commented on #2
@songwendong  As explicitly mentionned on issue #1, this project is not ready to be used, a disclaimer was added to the README.md.

[2017-08-02 13:13] #2 closed

[2017-09-14 11:10] zoe218 opened #3 "Can you give me some advice?:)"
Hello, Belval, it's me again~ My mentor want me to implement crnn with tensorflow...But I'm poor at coding，I don't know how to start this project, can u give me some advice? Thanks very very very much!

[2017-09-14 11:20] Belval commented on #3
Sure why not, as you can see this project fell way behind in my priorities but that doesn't mean I can't try to help you.

What do you need a CRNN for? Is it for text recognition or something else?

Do you have any papers on the model you are trying to implement? Aside from the one in the README.md.

[2017-09-18 14:06] zoe218 commented on #3
Thanks for replying~I want to use CRNN for laboratory sheet recognition. Now, I just want to implement crnn with tensorflow to check out if the model is suit for laboratory sheet recognition(I'm from China)or not..hah, can you understand my English?

[2017-09-18 19:47] Belval commented on #3
Your English is very good, don't worry about it.

As for using a CRNN in laboratory sheet recognition, it probably would work but keep in mind that you'd have to extract the text zones first. You might want to look at [OpenCV](http://docs.opencv.org/3.0-beta/modules/features2d/doc/feature_detection_and_description.html).

As for the actual CRNN, my project would probably work if (and that's a big

[2017-09-18 20:24] BeSlower commented on #3
@zoe218  You can download any workable code. Do a test on your image with their provided model first. Usually, the results are not very satisfying. Then you may train a new model with your own data. Does it have to be a TF version code? If not, you may do some experiments using pytorch version (I tested it before, and it works) as Belval said.

[2017-09-19 00:25] zoe218 commented on #3
@BeSlower Thanks a lot, :)  I'll try try try!

[2017-09-19 00:29] zoe218 commented on #3
@Belval I don't know why I‘m so moved..哈哈~I'll do some trying following your advice.

[2017-10-14 10:34] Bassmasbaa commented on #3
hello I am working on a project "text recognition with tensorflow using CNN models ! how shall i start ?? i need your advices :

[2017-10-14 14:56] Belval commented on #3
You can simply do a letter classifier then use a feature selection algorithm + a segmentation algorithm to find the letters in your image. Then you simply stick everything together.

For example:
1- You take an image
2- You apply MSER or FAST or another feature selection algorithm (see OpenCV MSER) to get the text regions.
3- Find something to split into individual letters.
4- Run the CNN on every

[2017-12-01 02:57] ajiaxiaoyi commented on #3
@Belval Hello, Belval.Can you tell me how to set this parameter 'NUM_CLASSES' in training Chinese?thank you.

[2017-12-01 03:16] ajiaxiaoyi commented on #3
I get it.It is the number of training data types...

[2017-12-01 03:21] Belval commented on #3
It is! Unfortunately the project isn't working right now so don't waste your time, I am still figuring out ctc_loss.

[2017-12-01 03:24] ajiaxiaoyi commented on #3
Thanks a lot

[2017-12-28 07:56] wushilian opened #4 "result in ICDAR2013"
what's the result in ICDAR2013,my result is lower than paper

[2017-12-31 17:05] Belval commented on #4
Hi,

I am still working on it. I'll report back when I get results.

[2018-01-08 09:30] Mendel1 opened #5 "Questions about the graph"
I have a little question about this part below. Does this mean you slice it along first axis, which means you slice it along batch-size dimension? But according to the paper,shouldn't it be sliced along 'w'  dimension?
[code]

[2018-01-09 00:38] Belval commented on #5
Using the index 1 means that I squeeze the **second** dimension.

`tf.squeeze` only removes "useless" dimensions. In this particular case:

Let `batch_size = 64`, `cnn_out_width = 36` (example), and `char_count = 69`

The function `CNN()` will output a tensor of size (64, 1, 36, 69). `tf.squeeze(x, [1])` makes it (64, 36, 69).

Can you tell me which page of the paper mentions the `map_to_sequence`

[2018-01-12 03:18] ajiaxiaoyi commented on #5
I got a problem，InvalidArgumentError (see above for traceback): sequence_length(0) <= 31.
Can you give me some advice?thanks a lot.

[2018-01-12 11:14] Belval commented on #5
It's bugging me too. I know a workaround but the network still won't correct train.

Basically, the BLSTM returns 31 time steps so the seq_lens are automatically 31 max.

I'll push a fix later today.

[2018-01-12 11:14] Belval commented on #5
It's bugging me too. I know a workaround but the network still won't correct train.

Basically, the BLSTM returns 31 time steps so the seq_lens are automatically 31 max.

I'll push a fix later today.

[2018-01-12 11:18] ajiaxiaoyi commented on #5
Okay,thanks.

[2018-01-19 08:44] TCcoder commented on #5
i have the same problem, have you solved it?

[2018-01-19 11:27] Belval commented on #5
The sequence length issue is solved in origin/remove-ctc but it does not converge as of today.

[2018-01-19 12:52] wushilian commented on #4
@Belval Hi,did you get results?

[2018-01-19 15:20] TCcoder commented on #5
er.. what you mean is the network still won't correct train. what should i do with my code? thanks a lot.

[2018-01-19 16:23] Belval commented on #5
You can converge on small dataset with short words (it could read about a 100) but indeed it is not close to the paper performance-wise.

[2018-01-19 16:27] Belval commented on #4
No, it hardly converges and never comes close to the paper performance.

I am having trouble understanding Tensorflow's CTC operation (which is probably the cause of the weak performance). If you know any resource that explains how to use it I would look it up.

[2018-01-20 00:50] wushilian commented on #4
I saw your code,and I don't think the problem is ctc.I use the ctc like you,but I got 80% acc in ICDAR2013

[2018-01-20 01:22] Belval commented on #4
That's great, is you code on github? I'd love to take a look and hopefully figure out where I did wrong.

[2018-01-20 02:38] wushilian commented on #4
@Belval https://github.com/wushilian/STN_CNN_LSTM_CTC_TensorFlow

[2018-01-20 05:15] TCcoder commented on #5
i see,and i will try again,thank you very much.

[2018-03-21 10:52] aa642531 opened #6 "sequence_length(0) <= 15"
hello,when i tried to train the model ,i meet the follows:
InvalidArgumentError (see above for traceback): sequence_length(0) <= 15.it happend at code ' loss = tf.nn.ctc_loss(targets, logits, seq_len) '  when feed datas

[2018-03-21 10:52] aa642531 commented on #6
@Belval

[2018-03-21 11:08] Belval commented on #6
Please see https://github.com/Belval/CRNN/issues/5

[2018-03-23 10:29] aa642531 commented on #6
@Belval Hi,these days i found a way to solve this problem,but i am not sure whether it ' s right.
after conv and  map2seq,before feed into blstm,i add the code:
inputs=tf.reshape(inputs,[config.BATCH_SIZE,256,30])
I resize the all images to the fixed width 256,and it can run successfully.

[2018-03-23 10:55] Belval commented on #6
Does it converge?

[2018-03-25 20:06] Belval commented on #6
@aa642531 There was an error in the CNN part that wasn't returning the right dimension. Please retry with master.

[2018-03-25 20:07] Belval commented on #5
The sequence length error was related to an error in the CNN part of the network. Please retry with current master.

[2018-03-29 04:13] awonderfullife opened #7 "How can I accelerate training process using gpu？"
it seems that it only uses cpu to train the model...

[2018-03-29 10:21] Belval commented on #7
It does not! It's just that my batch generator in this particular project is nothing short of terrible and it pretty much always have some calculations to do.

I'm working on a different batch generator that should be available in the next few days.

You can test my claims by running `watch -n 1 nvidia-smi` on your Linux box and you should see a usage peak every 2-3 seconds depending on batch size

[2018-03-30 05:55] wujiabin8894 opened #8 "What does seq_len means?"
Thank you for sharing this wonderful project. It works quite well for my number recg problem.
But I have some confusion.

In feed_dict, self.__seq_len: [self.__max_char_count] * self.__data_manager.batch_size,
and
max_char_count = reshaped_cnn_output.get_shape().as_list()[1] .
I'm not quite understand of that. Should seq_len be the width of img after cnn part of shape(batchsize, ?)

Sorry for my p

[2018-03-30 10:57] Belval commented on #8
After the CNN part of the model, the image will become a tensor of size 24x512 (if you use a width of 100px). The 24 represents the maximum number of characters that we could "read" and therefore the number of timesteps that the RNN should process.

I would recommend reading the paper as the author explains it quite well.

[2018-03-30 16:06] #6 closed

[2018-03-30 16:07] #5 closed

[2018-03-30 16:08] Belval commented on #4
@wushilian is the ICDAR2013 dataset still available? The website I found doesn't accept registrations anymore.

[2018-03-30 16:08] #1 closed

[2018-04-01 15:03] wujiabin8894 commented on #8
3q

[2018-04-01 15:03] #8 closed

[2018-04-10 12:42] ajiaxiaoyi opened #9 "Use effect"
Can I see the actual recognition effect of your program after training?

[2018-04-10 21:36] Belval commented on #9
Coupd you clarify what you mean by the actual recognition effect?

If it's testing you can call the CLI with `--test` and it should work iirc.

[2018-04-11 02:35] ajiaxiaoyi commented on #9
OK, I know.thanks.

[2018-04-11 02:45] Belval commented on #9
I don't quite remember how I used it, if you run into any issue please report back so I can fix them :)

[2018-04-11 02:47] ajiaxiaoyi commented on #9
OK!

[2018-04-11 13:44] SJHBXShub opened #10 "Could not find ../data/test"
Hello, I want to try this command
**python3 run.py -ex ../data/test --test --restore**
But I found there is no **../data/test** in the folder of CRNN
Could you help me?

[2018-04-12 02:39] Belval commented on #10
I do not upload datasets to github as they limit repo size to 1 GB.

Fortunately,you can create synthetic data similar to the one I used by using my project https://github.com/Belval/TextRecognitionDataGenerator just install the required dependencies and run `python3 run.py -c 1000 -w 1` to get some data.

Hope it helps!

[2018-04-13 03:27] SJHBXShub commented on #10
Hi, I have used TextRecongnitionDataGenerator to data set. And I found some problems:
1. The sentences generated by TextRecongnitionDataGenerator contain some characters that are not contained in CHAR_VECTOR, like & or blank space. I tried to add such missing characters to the CHAR_VECTOR by amending the config.py, but I confront some errors.

2. when I train the mode, I found the loss is inf. Hav

[2018-04-13 10:40] Belval commented on #10
The infinite loss is a problem I have not fixed yet as I do not know what causes it. Fortunately the model converge regardless in the sense that it does output better predictions.

For the test set, I'll give you a link to my own dataset later today. In the meantime, make sure that you use `-w 1` when generating to remove spaces from your samples. As for the &, there are probably no more than a ha

[2018-04-13 16:51] Belval commented on #10
Please try this dataset: https://node1.belval.org/test_dataset.zip

[2018-05-04 04:31] atVoidYX commented on #3
@zoe218 Laboratory sheet recognition have mature methods in OCR，it has reached the level of business using.After all, it's "noise" is small, and the background is not very complex.In general，CNN（or other methods in deep learning）is using for recognition in natural scene(STR)，such as the photo you taked up.I don‘t think it can  help to imporve the effect and exceed mature methods in OCR.
Maybe it's

[2018-05-04 05:03] atVoidYX opened #11 "python run.py -ex ../samples --test --restore"
I just want to test it，and change  ../data/test to ../samples,the folder "samples" also have some image.
But I don not get anything except the flowing：
-----------------------------
Restoring
Checkpoint is valid
0
Loading data
Testing
-----------------------------
then，it exits.

[2018-05-04 06:06] atVoidYX commented on #11
ok，I have fixed it.you use the special way to name the "jpg" files and then check the max_char_count

[2018-05-04 06:06] #11 closed

[2018-05-04 08:13] atVoidYX opened #12 "how can I lengthen the max recognition char count?"
I know you add char count limit (24)  when load pictures. and after CNN part  the image will become a tensor of size 24x512.
if I want to   recognize longer text，what should I do？

[2018-05-04 10:32] Belval commented on #12
Excellent question, if you go through the code, you will see that the width is padded to 100px (the value given by the paper) if you wish you can increase that value.

[2018-05-04 14:54] atVoidYX commented on #12
thanks,I will try your advice.Maybe I will encounter other problems and trouble you.
Thank you for this project.

[2018-05-09 05:45] pribadihcr commented on #11
@atVoidYX  how do you did?

[2018-05-09 13:28] atVoidYX commented on #11
@pribadihcr 這個項目中，妳需要滿足兩個條件，足夠數量的圖片（mini batch需要），並且以特定方式命名，因為這個項目的作者使用的圖片是自己生成的，他在代碼中通過命名判斷了字符長度，大於24個字符不會被識別，loaddata結果會是空。至於為何會是24，作者參考了原來paper。
我記得在壹個issue中作者給出了他的壹個測試集，妳可以去下載，當妳也可以通過作者在readme中的鏈接使用另壹個項目生成圖片。
最后希望我的繁体并没出现错误。

[2018-05-09 14:48] Belval commented on #11
@pribadihcr, the dataset @atVoidYX is referring to can be downloaded here: belv.al/6e839

[2018-05-09 14:58] atVoidYX commented on #11
@Belval sorry，I have seen pribadihcr‘s info on github and known he lives in Taiwan，so I use Chinese to response. you can read Chinese?I was very surprised.

[2018-05-14 08:24] forestlin7 opened #13 "Why I can run the code but can't get the good result？"
the result show that
Restoring
Checkpoint is valid
0
Loading data
Testing

Process finished with exit code 0

[2018-05-14 10:17] Belval commented on #13
Hi!

Can you link to your testing data and paste the exact command you entered.

Thank you
Belval

[2018-05-14 13:28] forestlin7 commented on #13
I use your testing data that you named samples but still have nothing.

[2018-05-14 13:28] forestlin7 commented on #13
I use your testing data that you named samples but still have nothing.

[2018-05-15 19:11] Belval commented on #9
Closing because user never reported back. Feel free to reopen should you need help.

[2018-05-15 19:11] #9 closed

[2018-05-15 19:12] #7 closed

[2018-05-21 09:49] billyzju opened #14 "what if the character numbers of my training data are different，how to train？"
what if the character numbers of my training data are different，how to train？

[2018-05-21 13:48] Belval commented on #14
Can you clarify what you mean by different? They aren't Arabic numbers?

[2018-05-21 16:00] billyzju commented on #14
@Belval  For example, some training instances contain 10 characters, and some contain 16 characters, I mean the character lengths are different.

[2018-05-21 16:28] Belval commented on #14
It should train fine regardless as long as the character count stays below 24. I only trained it with latin scripts though so you might run into some issue when training for asian scripts since they are usually wider.

[2018-05-30 04:36] yyf1986 commented on #13
I  have the same problem.
my command result
Restoring
Checkpoint is valid
0
Loading data
8.jpg
2.jpg
9.jpg
1.jpg
6.jpg
5.jpg
10.jpg
4.jpg
3.jpg
7.jpg
Testing

[2018-05-30 17:41] Belval commented on #13
I finally understand what is the issue here.

The data in the sample folder is NOT testing data. They are the images I use in the README.md. If you follow these steps you should get my results:

    git clone https://github.com/Belval/CRNN.git
    cd CRNN/CRNN
    mkdir data
    cd data
    wget https://node1.belval.org/test_dataset.zip
    unzip test_dataset.zip
    rm test_dataset.zip
    cd ..

[2018-06-06 09:31] gds101054108 opened #16 "Looking forward to your reply"
logits = tf.transpose(logits, (1, 0, 2)) why? the original order is [batch time class]
self.__seq_len: [self.__max_char_count] * self.__data_manager.batch_size  why? I think seq should be a varient number equal every single target seq length

[2018-06-06 11:24] Belval commented on #16
That's the ordering that tf.nn.loss needs.

Looking at the documentation, you can use `time_major=False` and skip the transposition.

See: https://www.tensorflow.org/api_docs/python/tf/nn/ctc_loss

As for the second question I'm not quite sure anymore, I think it had to do with variable width between fonts. Sometimes, fonts are wider than the windows created by the LSTM.

Usually in RNNs, you inde

[2018-06-06 13:22] gds101054108 commented on #16
thank you,I have used https://github.com/gds101054108/keras/blob/master/examples/image_ocr.py trained  my chinese-ocr model, I have generate 16M variant width image,the height is 48 pixel,Contains gbk totally 21025 characters. it converage to 99.0%,and it works quite well. but I have to use K.clear_session()  to kill the session and reload the weight when the batch of image width changed,so it tak

[2018-06-06 15:41] gds101054108 commented on #16
@Belval  I have did some experiment,I think the seq_len is the real image width w//4-1(after CNN) before padding

[2018-06-14 07:47] vinayakkailas opened #17 "How to modify the connectionist Temporal Classification (CTC) layer of the network to also give us a confidence score?"
how to modify the connectionist Temporal Classification (CTC) layer of the network to also give us a confidence score?

[2018-06-14 08:41] vinayakkailas opened #18 "TypeError: object of type 'numpy.int32' has no len()"
When i run testing i get the below error

(vinayak) C:\Users\vinayak\Documents\github\CRNN-1\CRNN>python run.py -ex ../sam
ples --test --restore
Restoring
Checkpoint is valid
0
Loading data
examples 10
Traceback (most recent call last):
  File "run.py", line 118, in <module>
    main()
  File "run.py", line 111, in main
    args.restore
  File "C:\Users\vinayak\Documents\github\CRNN-1\CRNN\crnn.py

[2018-06-14 13:29] Belval commented on #18
The images in the samples/ folder are the images displayed in the README.md, not valid testing examples as they do not have a ground truth in the filename.

[2018-06-14 13:31] Belval commented on #18
You can use this dataset to test https://node1.belval.org/test_dataset.zip or generate a new one using https://github.com/Belval/TextRecognitionDataGenerator.

[2018-06-14 13:36] Belval commented on #17
See https://github.com/Belval/CRNN/blob/master/CRNN/crnn.py#L167

According to [TF's](https://www.tensorflow.org/api_docs/python/tf/nn/ctc_beam_search_decoder) documentation, this is what you are looking for.

It seems rather trivial to add, you're more than welcome to make a PR if you implement it.

[2018-06-14 14:07] vinayakkailas commented on #18
i found a workaround. I commented sparse_tuple_from call from __generate_all_test_batches and used only batch_x and batch_y to run test. Anyways we just need batch_x only to do the prediction.

And yes, i had modified the filenames in the samples folder

Thanks

[2018-06-14 14:11] vinayakkailas commented on #17
I am using exp(-log_prob) to get the actual probability. But this doesn't seems right. I got many wrongly recognized words with high probability and vice-versa too. I think we need a score, taking into consideration both lstm output and log_prob

[2018-06-14 15:31] Belval commented on #17
The original paper doesn't seem to include such a thing but I'm open to suggestions if you happen to find something that works well.

[2018-06-19 12:08] wangershi commented on #16
@gds101054108 Bingo, I get the same result, seq_len is w//4-1.
Besides, I got the method to let seq_len be w//4. In last conv that using valid padding, replacing [2, 1] kernel with [2, 2] kernel make the width not decrease, got the same result with author of the paper.

[2018-06-19 12:49] #16 closed

[2018-06-19 16:32] Belval commented on #16
@wangershi do you mind elaborating? The last convolutional layer (conv7) in crnn.py does use a (2, 2) kernel.

Also, how did you test that your results were the same as the original paper?

[2018-06-20 02:53] wangershi commented on #16
@Belval
**First question:**
In original paper, Section 3.2:
_For example, an image containing 10 characters is typically of size 100*32, from which a feature sequence 25 frames can be generated._
I just want to recurrence the code, so this is a view of coding:
Beacause the feature width is same before and after conv7, so the stride along horizontal direction is 1, and the padding of conv7 is valid

[2018-06-20 10:19] Belval commented on #16
@wangershi Thank you for taking the time to explain. I'll make the modifications and retrain to see if it yields better results.

[2018-07-04 02:33] evanfly opened #19 "continuous repetition letters of the OCR"
hi Belval , when i retrain the crnn code ,i found that if there were continuous repetition letters of the OCR, the result offer missed the repetition letters and outputed the single letter . Such as the Ground truth of the OCR is '0870011' , '37075337' , and the Prediction is '08701' , '3707537' .  If there were no  continuous repetition letters ,the result was correct . My training data only incl

[2018-07-04 07:39] cwxcode opened #20 "Large loss with slow descent"
Hi Belval ! When I use your code to train with my training data of 100,000 pictures, I got a large loss and the loss descend slowly as follows:

![problem](https://user-images.githubusercontent.com/33143843/42263328-474ee836-7fa0-11e8-8bb1-6a33cfc612bd.PNG)

How can I solve this problem?
Thank you!

[2018-07-04 10:53] Belval commented on #19
This is a known tradeoff with CTC, to my knowledge. Usually researchers will use a lexicon to overcome this.

In the meantime, you can use `merge_repeated=False` as an additional parameter in the `ctc_beam_search_decoder` op to prevent merging. Do note that this will probably duplicate some letters.

https://www.tensorflow.org/api_docs/python/tf/nn/ctc_beam_search_decoder

[2018-07-04 13:08] evanfly commented on #19
ths . solved

[2018-07-04 19:32] Belval commented on #20
Unfortunately I don't have much advice to offer on this because `ctc_loss` is mostly a blackbox for me. Some training I did had high loss yet performed a lot better than other lower-loss training.

[2018-07-04 19:33] #19 closed

[2018-07-04 19:33] #18 closed

[2018-07-18 07:51] StonyShi opened #21 "max_width 训练的时候是256，预测的时候输入1024行不，这个参数是固定的么"
max_width 训练的时候是256，预测的时候输入1024行不，这个参数是固定的么

[2018-07-26 02:21] zealerww opened #22 "ctc_beam_search_decoder"
https://github.com/Belval/CRNN/blob/063349508bd95e8dfb6b2e1135a7f8d8dd1fbc39/CRNN/crnn.py#L167

acutually, i think you shoud set the param merge_repeated to False, so the result will keep the repeated char. `decoded, log_prob = tf.nn.ctc_beam_search_decoder(logits, seq_len, merge_repeated=False) `.

so your Ground truth text in readme.md 'semantically'  will not be recognized as 'semanticaly'

[2018-07-26 03:57] zealerww commented on #21
actually, it's ok.but belval set the placeholder to a fixed length `inputs = tf.placeholder(tf.float32, [batch_size, max_width, 32, 1])`, so image's width must equal to max_width in testing.

you can modify his code, `inputs = tf.placeholder(tf.float32, [None, None, 32, 1])` and other places.

[2018-07-31 11:20] chyun opened #23 "连续两个相同的字符会漏掉一个"
连续两个相同的字符会漏掉一个:
例如: aaby识别为aby, 887y识别为87y

[2018-07-31 12:00] Belval commented on #23
Change:
https://github.com/Belval/CRNN/blob/063349508bd95e8dfb6b2e1135a7f8d8dd1fbc39/CRNN/crnn.py#L167

To:
`decoded, log_prob = tf.nn.ctc_beam_search_decoder(logits, seq_len, merge_repeated=False)`

And the problem should be fixed.

[2018-08-01 22:39] chyun commented on #23
done, thanks!

[2018-08-02 01:38] yogixRush opened #24 "datamanager.py"
在def __generate_all_train_batches(self)里面，
batch_dt = sparse_tuple_from(
                np.reshape(
                    np.array(raw_batch_la),
                    (-1)
                )
            )
这样会报错： int型没有len属性
改成
batch_dt = sparse_tuple_from(
                np.array(raw_batch_la)
            )
就能训练了，但训练非常非常慢，10小时loss没有任何降低

[2018-08-26 20:12] #23 closed

[2018-09-12 09:02] Incenter2016 opened #26 "the resize_image function in utils should add "dtype=np.uint8""
def resize_image(image, input_width):
    im_arr = imread(image, mode='L')
    r, c = np.shape(im_arr)

    if c > input_width:
        c = input_width
        ratio = float(input_width) / c
        final_arr = imresize(im_arr, (int(32 * ratio), input_width))
    else:
        final_arr = np.zeros((32, input_width))

final_arr = np.zeros((32, input_width), dtype=np.uint8)

[2018-09-13 09:16] Incenter2016 commented on #24
在def __generate_all_train_batches(self)里面，
batch_dt = sparse_tuple_from(
np.reshape(
np.array(raw_batch_la),
(-1)
)
)
建议改成：
batch_dt = sparse_tuple_from(
np.reshape(
np.array([raw_batch_la]),
(-1)
)
)

[2018-09-17 09:56] 1225154296 opened #27 "what`s the format of you training data"
what`s the format of you training data ? I want train you model from scratch.thanks a lot

[2018-09-17 13:10] Belval commented on #27
Filename should be in format `[LABEL]_[NUMBER].[EXT]`
Say you have:

![larithmics_0](https://user-images.githubusercontent.com/5399488/45624835-6d18d600-ba59-11e8-802c-bcf6f3e68ad5.jpg)

Your label should be "larithmics_0.jpg"

[2018-09-17 13:13] 1225154296 commented on #27
get it . thank you again!

[2018-09-17 13:36] Belval commented on #4
Closing for lack of response.

[2018-09-17 13:36] #4 closed

[2018-09-17 13:37] Belval commented on #10
Closing for lack of response.

[2018-09-17 13:37] #10 closed

[2018-09-26 03:30] yeLer opened #28 "Testing problem"
When I test the result by python3 run.py -ex ../out --test --restore ,I can't get any results. The out folder contains the pictures generated by the code form your repo(TextRecognitionDataGenerator).
The console just outputs these.
Restoring
Checkpoint is valid
0
Loading data
Testing

Process finished with exit code 0

Thank you for help me!

[2018-09-26 07:15] #28 closed

[2018-09-30 05:06] LJXLJXLJX commented on #28
I meet the same problem, have you solved it?

[2018-10-01 00:58] Belval commented on #28
I was able to test, download the file I attached, unzip it.

Then call `python3 run.py -ex UNZIP_PATH --test --restore` where UNZIP_PATH should be the unzipped folder path.

[test.zip](https://github.com/Belval/CRNN/files/2432276/test.zip)

It works on my end, please tell me if this solves your issue.

[2018-10-17 07:15] Qzhaohong commented on #24
@Belval
I met the same issue, is above change from @yogixRush right ?

[2018-10-17 21:31] Belval commented on #24
Can any of you give me his configuration and the format of your training samples?

On my Ubuntu 18.04 machine with python 3 this does not cause any issues.

[2018-10-18 11:14] Belval commented on #22
Closing as this was fixed in another issue https://github.com/Belval/CRNN/blob/master/CRNN/crnn.py#L167

Sorry this one fell off my radar.

[2018-10-18 11:14] #22 closed

[2018-11-10 10:37] jabgle opened #29 "hi,Belval I am a beginner."
I am a beginner
I wonder if model_path and restore have the same path. / save? And if I want to test my picture with your model, should I put my picture in examples_path?

[2018-11-10 11:03] jabgle commented on #24
我跟你改了，还是报这个错啊

[2018-11-12 16:19] Belval commented on #29
I see you have edited your comment. Did you answer your own question?

- model_path (save/) is used for saving and restoring
- example_path (data/) is used both for training and testing

[2018-11-12 16:20] Belval commented on #21
Closing for lack of activity. Feel free to reopen if the above answer was unsatisfactory.

[2018-11-12 16:20] #21 closed

[2018-11-19 09:42] tianyexing opened #30 "train result question"
when i trian the model ,i use 200000W word ,batchsize = 128 ,adam = 0.00001,
epoch = 100 ,
the result as
nonlister
nonlaterzzzzzzzz
neep
miepzzzzzzzz
i don't know why ?
the result is not good ?

[2018-11-20 11:46] tianyexing commented on #30
I am so happy to see you reply.
1. I  change the config ,i use lower case letters. and  i ues some depth_wise convolution  instead of convolution in cnn  part
2. I  use 1060 training and use about 2 day.
3. The  traing data same as yours  but  i removed the words with numbers.
4. I am willing to give you the code, I don't know how to operate it.

[2018-11-21 02:52] Belval commented on #30
I'd be very interested to see your modifications.

In the meantime, I must confess that I am a bit tight on free time. I will try to replicate your bug this weekend, but until then I'm afraid I won't be of much help.

Regards

[2018-11-30 01:39] ynuwm commented on #13
@Belval why I put my own images into the data folder, it remain can't process?  And I remove some images from the  test_dataset, it also can't process.

[2018-11-30 03:05] Belval commented on #13
Multiple reasons could explain your problem here.

First, the "test" part of the project is a bit rough on the edges in that it still uses batches. Therefore, make sure that you specify a batch_size that is smaller than the amount of picture you provided.

Second, I would be more apt to help you if you provided me with the command you used.

Regards

[2018-11-30 04:36] ynuwm commented on #13
@Belval I know the reason, thank you. Another thing is how should I train new model or test on this image:
https://zhidao.baidu.com/question/233435599.html

because I use  your model to predict the HP trademark, it can't predice accurately.

[2018-11-30 04:38] ynuwm commented on #13
@Belval Can you give me some suggestions about how to recognize the word of trademark in the images, for example, HP, Intel in some images.

[2018-12-01 12:19] tianyexing commented on #30
thank you for your reply.
I am also trying to improve this model.
I found that too much deep convolution will cause this problem.
I now have an acceptable result.

[2018-12-03 03:44] tjpulfn commented on #24
我训练的时候， `print(batch_y[j])
                            print(ground_truth_to_word(decoded[j])`
打印样本和groundtruth时候，不一样，请问有这种情况吗？
或者是我理解错程序吗？我理解的是第一句打印训练样本的名字，第二句打印训练样本的groundtruth

[2018-12-05 10:18] sevenHsu opened #32 "resize function bug"
## Question describe
   - __Bug position__: data_manage.py->resize_omage function

   - __code__:
[code]
   - __detail__:
      if the shape of im_arr is (22,92),the programe will run code in 'else',so the shape of im_arr_resized will be(32,int(c*(32/r))) i.e (32,int(92*(32/22)))=(32,133).

      At this code : ```final_arr[:, 0:np.shape(im_arr_resized)[1]] = im_arr_resized```.You just make the fi

[2018-12-05 13:36] Belval commented on #32
Just to clarify, you believe that the resulting array should be (32, 100) or (32, 133)?

Using a slice like in the code pictured should produce a (32, 100) array as expected and desired.

[2018-12-11 12:11] xxlxx1 commented on #32
@sevenHsu 我看这里的代码也有这个疑惑，test的时候这里就报错了。我改成如果长度太长，只取前面100列，感觉这样还是有问题的，不能识别后面的文字了。
还有一个问题，我把放入session run之前的batchx图片保存下来，它是被reshape了的，宽和高纬度交换的时候，所以保存出来的看不出字的形状，感觉很奇怪啊

[2018-12-11 12:34] xxlxx1 commented on #32
@Belval I can't understand your answer, when i try a picture in  (22,92), will be (32,133) in your code , then will error in next code.
another question, when you prepare training data, from raw_batch_x to batch_x in function "__generate_all_test_batches", you just reshape, i think you should use transpose to change the width and height axis. save the batch_x in this step is not a readable picture

[2018-12-12 02:18] Belval commented on #32
@xxlxx1 I reproduced the problem. We could simply change the line to `final_arr[:, 0:input_width] = im_arr_resized[:, 0:input_width]`?

Please tell me if it works on your size. I got this result:

Before:
![test3](https://user-images.githubusercontent.com/5399488/49842478-b8593100-fd89-11e8-8ef5-999d8decd0da.png)

After:
![result](https://user-images.githubusercontent.com/5399488/49842482-bc854e80

[2018-12-12 02:41] Belval commented on #32
For your second question:

There indeed seems to be a big problem with the reshaping, I changed it to np.swapaxes, which gives the desired result.

I'm currently retraining the whole thing, I'll keep you updated.

[2018-12-12 05:18] sevenHsu commented on #32
Thank you!

[2018-12-13 21:19] Belval commented on #32
Please check my last commit, it should fix both the issues mentionned here.

[2018-12-25 07:49] ZhangSibo9972 commented on #24
我也遇到了这个问题。最后查出来原因是numpy.array()函数的原因。源码里是64个图片一组送进去的，但是特殊情况下如果64张图片的word标记的长度是一样的，numpy.array()的转换结果可能变成1维，进而引起这个错误。增加batch_size（我从64改到128）似乎可以解决这个问题，不过治标不治本。

[2019-01-15 16:04] Belval commented on #32
Closing for lack of activity.

[2019-01-15 16:04] #32 closed

[2019-01-17 09:42] allanruin commented on #13
To those still cannot get acceptable results from author's pretrained model, you could manually edit `1save/checkpoint` change `model_checkpoint_path: "ckp-51"` to `model_checkpoint_path: "ckp-50"`, then it will run fine.

[2019-01-17 12:06] Belval commented on #13
You are right, I didn't notice that the new checkpoint broke the testing.

I will fix it ASAP.

[2019-01-17 13:15] Belval commented on #13
I pushed a quick fix, tell me if that fixes the issue.

[2019-01-21 05:42] Dinghow opened #33 "The loss always be inf"
I trained with the data generated by your tool TextRecognitionDataGenerator.
And trained with 100 iterations, the loss is always be inf, I'm wondering the  reason, thx a lot.

[2019-01-22 13:13] Belval commented on #33
Hi, inf loss does happen from time to time but usually, it's either a random occurrence (so restarting the training will fix it) or a problem with the dataset.

How big is your dataset?
Are you training for Chinese? If so, what is the length of your CHAR_VECTOR?

Thank you

[2019-01-22 13:21] Dinghow commented on #33
Thanks for your immediate reply. Tried to restart the training many times, without any improvement.
BTW, the size of my training dataset is 8000 in english. I just add some punctuation like ,.;'" to the CHAR_VECTOR.

[2019-01-22 13:36] Belval commented on #33
Interesting, I'll do some testing from my side see if I can get a test case.

If you could compress your 8000 samples dataset and send it to me to ensure reproducibility I would be grateful.

You can drop the file here: https://nextcloud.belval.org/index.php/s/MQsQrK8egatQtLo

[2019-01-22 13:46] Dinghow commented on #33
Sure, I'm glad to do that, the size is 10001 actually. And my CHAR_VECTOR is
`CHAR_VECTOR = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ-'.!?,\""` just reuse yours.

[2019-01-29 03:48] Belval commented on #33
Just a heads up to say that I was able to reproduce the issue. I'm quite busy at the moment but I'll try to troubleshoot it ASAP.

Thank you for bringing this to my attention.

[2019-01-31 22:59] Belval commented on #7
There is something wrong with the whole training pipeline I think. Unfortunately, I have been quite short on time recently so I don't know when I'll have the time to work on this.

Do consider what I wrote above though: the model does take time to train and you will see small peaks of GPU activity for 1-2 seconds of 100%. I think it's just data-starved.

[2019-02-01 01:21] TccccD commented on #7
Yes, it have small peaks of GPU activity for 1-2 seconds of 100%, but after that, it also have 5mins 0%. @Belval

[2019-02-01 03:41] TccccD commented on #7
oh, I find CTCBeamSearchDecoder 200s+ cost, it use cpu.

[2019-02-15 09:19] ghulammustufa31 opened #34 "How can I train this model with arabic or urdu characters?"
My labels contain arabic/urdu text.
For example "اسلام آباد : چیئرمین رضابانی کی زیر صدارت سینیٹ کا اجلاس"

What changes are required to train the model given non-English labels?

[2019-02-15 13:45] Belval commented on #34
So according to [britannica](https://www.britannica.com/topic/Arabic-alphabet), Arabic has 28 letters which means that it would be more compatible with the CRNN architecture than a word-based language like Chinese. I think that you can expect reasonable results by simply replacing the values in `CRNN/config.py` and expect somewhat workable results. Since Arabic is read right to left, you might enc

[2019-02-19 14:19] stpraha opened #35 "Using pictures from TextRecognitionDataGenerator will lead to a bug"
I generated training data using TextRecognitionDataGenerator.
**ValueError: substring not found**
When 'data_manager', it will meet a bug caused by pictures named 'A&P_58395.jpg' ,'R&D_14671.jpg'...
I think that's because ‘&‘ is a special symbol of Linux.

[2019-02-19 14:27] Belval commented on #35
The `&` character is not in the config. I'm pretty sure that you can just ad dit and it will work.

[2019-02-19 15:35] stpraha commented on #35
thx for your immediately response! I will try this later, hoping it works!

[2019-02-28 03:46] think-chao opened #36 "can wen test the model with image named like 0909.jpg"
if we test the image and the name of image shows the result , why  i need to train it

[2019-02-28 13:25] Belval commented on #36
I'm afraid I do not understand the question, the model does not have access to the filename of the image when testing, that value is provided simply to check the results.

[2019-03-08 03:24] wdsd641417025 opened #37 "Could you give my some advice?"
I want transfrom model to pb but i dont know what is output tensor name, or could somebody  send me a code that can solve that

[2019-03-10 06:46] ImDePanDa opened #38 "How to train a new model"
Hi , Belval !
     First , I want to say thanks.Your codes give me lots of help . But there are some problems with me .
     I use your pretrained model to recognise some nubmers and some symbols like"+" , but the results is not good，so I want to train my own model to do my work but I don't know how to train ,can you give me some guidance ?
    Hope for your reply.Thanks !!

[2019-03-12 00:47] buyanfangqi commented on #24
你好，最后是怎么解决的呢？

[2019-03-12 01:09] Belval commented on #38
Hi!

To retrain the model, it should be as simple as:

`python3 run.py -m save/ -ex [TRAINING/TESTING DATA] --train`

You need Tensorflow installed.

You can see `python3 run.py -h` for more tuning options.

[2019-03-15 05:59] LinanYaooo opened #39 "Useable on chinese text？"

[2019-03-15 17:06] Belval commented on #39
Given enough modifications, this model can be applied to Chinese character recognition. If this is your use-case you might want to look up the implementations that already support Asian scripts.

See: https://github.com/Sierkinhane/crnn_chinese_characters_rec

[2019-03-25 09:31] daming98 commented on #33
I face the same problem. Have you solved it?

[2019-03-25 09:37] daming98 commented on #33
My dataset is Chinese and the length of CHAR_VECTOR is 70000+, the long lengths can cause problems?

[2019-03-25 10:08] daming98 commented on #33
sorry, my  CHAR_VECTOR is 7000+.

The training process is too slow. How can I solve it? It trains five steps in four days.

[2019-03-25 14:11] Dinghow commented on #33
Not yet. I used this project without this problem https://github.com/wushilian/STN_CNN_LSTM_CTC_TensorFlow/blob/master/utils.py

[2019-03-25 14:14] daming98 commented on #33
Thank you. I'll try.

[2019-03-31 07:55] sharonapa opened #40 "Training time"
Hi, can you approximate train time of 100k examples on Gtx 1080? I started it, seems very slow. Thanks.

[2019-03-31 13:05] Belval commented on #40
The current pretrained model (used to make the predictions in the README) took about 24-48 hours to train on a GTX1080Ti. You'd be looking at 72 hours-ish for a GTX1080.

If you feel adventurous, I am pretty sure that there are a lot of low-hanging fruits in the training code that could speed up the whole thing. Current data loading is not optimal for example.

[2019-03-31 17:35] sharonapa commented on #40
Thanks, I've noticed it's taking some time to process one batch.
I've few more questions :
1) where can I see your 200k data set? What was the parameters you ran the
training?
2) the loss value I saw started from 6900 and dropping. Is this normal
value?
3) my parameters were: 100k data set, batch size 32, 100k iterations (too
much?)
4) can I speed up the lstm cells(or other ways to speed up) ? I'v

[2019-04-01 05:53] imgaurav17 opened #41 "testing the CRNN"
I'm getting different output everytime I run the code. and its not correct.
Can anyone of you help me out?

[2019-04-01 11:28] Belval commented on #41
Hmm I'll try to reproduce and report back.

[2019-04-04 03:21] wangyuxin87 opened #42 "What is the different bettween this project and current LSTM+CTCproject"
I wanna if there are something developments in current LSTM+CTC project, which I notice your project was established 2years ago.
Wait for you response!

[2019-04-12 02:04] colorful101 commented on #18
hello，i also have this problem during training the new model.
the command i used is :
python run.py -m /save/ -ex F:/code/ICDAR/2015part/ch4_training_word_images_gt/ --train

and then i get the same error message as you
Traceback (most recent call last):
  File "run.py", line 119, in <module>
    main()
  File "run.py", line 99, in main
    args.restore
  File "C:\Users\CRNN\CRNN\crnn.py", line 53

[2019-04-14 08:44] ImDePanDa commented on #38
@Belval  Hi,belval!
I have a new trouble that I use my own pictures to train a new model(hand-writen model),but I find it doesn't work.Here are some pictures about my data and wrongs.And I find there are somethings different about my data and your data.
![data](https://user-images.githubusercontent.com/47771008/56090416-90631100-5ed4-11e9-9944-8aa517fd77b6.PNG)
![Uploading your data sequences.PNG…

[2019-04-14 08:47] ImDePanDa commented on #38
@Belval Hi,belval!
I have a new trouble.I use my own pictures to train a new model(hand-writen model),but I find it doesn't work.Here are some pictures about my data and wrongs.And I find there are somethings different about my data and your data.The second is your data's sequences and the third is my data's sequences.Can you give me some advices?
![data](https://user-images.githubusercontent.com/

[2019-04-14 14:38] ImDePanDa commented on #38
@Belval Hi,Belval!
I have solved the above problem.The reason of this error is the names of the pictures are at the same length.But there is a new question.How can I use the model which has been well trained to predict a single picture?Look forward to your reply！

[2019-04-15 00:48] Belval commented on #42
I wouldn't know what to answer to that. My project is an implementation of Shi's paper from 2015. I tried to stay as true to the original paper as possible.

As for the other project I wouldn't know.

[2019-04-15 00:50] Belval commented on #38
It used to be `python3 run.py -ex [SAMPLE_FOLDER] --restore --test` but I just tried it on my said an it did not work. Possibly something changed in TensorFlow/Numpy since then.

I'll try with older versions and see if I can get it to work.

[2019-04-21 16:20] Adarsh-sophos commented on #28
Hey @Belval ,
Can you tell how to run this code for only one image example ?
I tried to run this command -
`python run.py -ex ../samples/ --test --restore -bs 1`

but it gives error -
[code]

[2019-04-21 17:06] Belval commented on #28
Another issue (I'm having trouble finding it right now) highlighted that this was not possible right due to how the data manager class handles batches.

I'll try to find time to fix this. In the meantime, you can try to fix it. I'd accept a PR for this.

[2019-04-30 08:35] alexng88 opened #43 "Test shows nothing and date detection"
Hello,
  I have 2 questions:
1.  when I run the command
python run.py -ex ../samples/ -m ./save/  --test --restore  it only shows the following pic...with 0.  what that means?
2.  Can I use crnn to detect the date like the one I attached?
Thanks
![num4](https://user-images.githubusercontent.com/1286456/56949551-cd323780-6b65-11e9-931c-1a2c24e34267.png)

![error](https://user-images.githubuserconte

[2019-05-05 11:40] alexng88 commented on #43
I retrained the model and use textgenerator, with loss 0.2.
then I try to recognize the image
![reault](https://user-images.githubusercontent.com/1286456/57193436-8e3d2100-6f6d-11e9-9905-87ee4a405ddd.jpg)

the result is totally different, any suggestions?

[2019-05-06 15:26] #42 closed

[2019-05-06 15:29] Belval commented on #43
1. It's a bug when there aren't enough sample in the batch, there's a related issue.
2. Yes, but you will have to change the `data_manager.py` file to read the labels from a file as slashes cannot be in filenames.
3. How long did you train, how big was your training set?

[2019-05-07 17:04] alexng88 commented on #43
date test:
![roi9](https://user-images.githubusercontent.com/1286456/57318350-b9ba3a00-712c-11e9-80a6-abb9cc6dbba4.png)
Recognized result: 2610m8

![041018](https://user-images.githubusercontent.com/1286456/57318399-dc4c5300-712c-11e9-84bb-d93b764fc9de.jpg)
Recognized result: 0amom8

![d](https://user-images.githubusercontent.com/1286456/57318481-043bb680-712d-11e9-870a-804418330f9f.jpg)

Recogniz

[2019-05-10 18:40] joei1994 opened #44 "How to compute accuracy both from train and test set"

[2019-05-13 08:51] izhaojinlong opened #45 "How to save model?"
Thanks a lot for the project, I have learned a lot. But when I train my own model，for example-‘!python run.py -m save/ -ex [EXAMPLES_PATH] --train’.When I finished training，my save folder is empty！I want to know how to save my train model. Thanks！

[2019-05-13 09:01] #45 closed

[2019-05-13 09:06] izhaojinlong commented on #45
I solve it！I make a mistake。。。

[2019-05-13 10:51] izhaojinlong commented on #44
I also want to know how to predict a picture.

[2019-05-13 11:06] izhaojinlong opened #46 "How to predict a picture"
When I train my model, I want to predict the characters in a picture. But when I use the command——‘python3 run.py -ex ../data/test --test --restore’，Will show the following results.

Restoring
Checkpoint is valid
0
Loading data
Testing

I want to know how to predict a picture,Thanks!

[2019-05-13 12:59] Belval commented on #43
If you only read dates, you can reduce the number of chars so you won't end up training letters when they can't be found in your images.

As for the slashes, if you don't want the model to predict them you can just remove them from the labels.

[2019-05-13 13:01] alexng88 commented on #43
Hello, thanks for your reply.
I have changed another way to detect (use object detection methods)
I will re-try again your method soon.

[2019-05-16 02:07] TyrionChou commented on #40
hi，I want to know the time you spend running one batch.My running time is very slow.

[2019-05-16 06:00] sharonapa commented on #44
For train accuracy I'm checking the batch result vs ground truth data every few iterations. For test, running on 20% of train size and only new Images that the train did not see.

[2019-07-17 07:00] lyouthzzz opened #47 "how many times your model iterates when you train?"

[2019-07-17 09:09] #47 closed

[2019-07-17 10:30] lyouthzzz opened #48 "loss fall slow"
Hello @Belval .  I  want to train a new model to recognize captcha . I use 3000 samples, but loss fall slow  . Can you give me some advice and tricks ? add epoch ? Thank you!

[2019-07-18 08:19] #48 closed

[2019-07-18 08:23] lyouthzzz opened #49 "model overfitting"
Hello @Belval  .  How could i sovle overfitting problem? Thanks !

[2019-07-18 13:31] Belval commented on #49
More data, while I don't know your usecase, if you can generate more data to train the model it will almost always translate to better generalization.

[2019-08-13 09:05] sushanth-d commented on #38
Hey! Thank you for all the code and all the explanations! :)

Any update on how to test single images? Or a set of images in a folder?

[2019-08-14 15:14] Belval commented on #38
Haven't touched that repo in a while, currently on vacation. I'll add it to my todo list.

[2019-09-01 20:27] Belval opened #51 "Convert code to use functional TensorFlow"
This code is relatively old, uses a lot of deprecated APIs, and could use a refactor in order to be maintainable.

[2019-09-01 20:28] Belval commented on #49
Closing for lack of response.

[2019-09-01 20:28] #49 closed

[2019-09-01 20:28] Belval commented on #43
Closing for inactivity.

[2019-09-01 20:28] #43 closed

[2019-09-01 20:30] Belval commented on #3
Closing for inactivity, feel free to reopen if you have more questions.

[2019-09-01 20:30] #3 closed

[2019-10-04 08:12] justlike-prog opened #54 "There is no run.py in the TextImageDataGenerator"
I wanted to create some images with your Generator with
`python3 run.py -c 200000 -w 1 -t 8`
as documented, but wasn't able to since the run.py is missing there. Did something change in the mean time?

[2019-10-04 10:43] Belval commented on #54
I did not update the documentation on this project, but TRDG now comes as it's own executable file. Once installed through pip you should be able to do `trdg -c 20000 -w 1 -t 8`.

I'll update it ASAP.

[2019-10-31 01:07] 1286667673 opened #55 "The Error rate is always 1.0"
Hello! I use your network to train Chinese and English.Char_vector length is 1000+,like '®·、。〇《》一七万三上下不专且世业东丝两个中丰串临丶主丽举久义乐乒乔九也习书买了事' and so on.

The training process is as follows：
---- 50 ----
GT: 水果捞
PREDICT:
---- 50 ----
GT: 品牌电脑
PREDICT:
---- 50 ----
[50] Iteration loss: 482.9037551879883 Error rate: 1.0
step: 51
PREDICT is Blank space.
Where is the problem?

[2019-11-01 03:43] SongOfIceAndFire opened #56 "fail to test"
how to use the pretrained model in the "save" folder ,i have tried many times ,thank you for your reply

[2019-11-01 12:48] Belval commented on #55
To be completely honest, I never tried to train this model with Chinese, and while I think it should work with minor modifications, I doubt that the code as-is can.

I'll have a look after my midterms if possible, but in the meantime, you might want to redirect your attention to other implementation that were designed with Chinese in mind.

[2019-12-13 07:16] lijo381 opened #58 "Testing result is poor"
I trained a CRNN model from scratch using the generator . Each word has a pattern it always starts with a keyword followed by some characters and numbers (eg. PATTERN xy123) . The training loss is great but during testing if I read from an image and try prediction the results are really poor. What could be the probable reason.

[2019-12-13 13:55] Belval commented on #58
Are your test images comparable to the training images?

The training generator will create samples that resemble printed characters on paper, this will be unsuitable if your test data is scene text.

I am a little bit limited in GPU time right now due to another project, but I can try to train a model next week if you can provide specific specs.

[2019-12-14 18:41] lijo381 commented on #58
Yes I saved the images of the generator as jpgs and tested on them.

Secondly my original data is scene text and since I didn't have much scene text data in the first place, so used the generator to generate data. The training is converging properly but testing on jpgs are not giving good results.

In order to verify it I generated around 10k images and saved them and trained the model on them tra

[2019-12-30 06:28] yoyoyo-yo opened #60 "CHAR_VECTOR is correct?"
Thank you for your great job!

I tried your pretrained model, but got error.

Traceback (most recent call last):
  File "/Users/yoshitonagaoka/dev/miniconda3/envs/deepscholar-crnn/lib/python3.7/site-packages/tensorflow/python/client/session.py", line 1356, in _do_call
    return fn(*args)
  File "/Users/yoshitonagaoka/dev/miniconda3/envs/deepscholar-crnn/lib/python3.7/site-packages/tensorflow/pyth

[2020-01-07 09:57] mrtpk opened #61 "Unable to run `python3 run.py -ex ../data/test --test --restore`"
When `python3 run.py -ex ../data/test --test --restore` is excecuted, below error is raised:
`tensorflow.python.framework.errors_impl.InvalidArgumentError: Assign requires shapes of both tensors to match. lhs shape= [512,71] rhs shape= [512,70]`. This error is raised at the line `self.saver.restore(self.session, ckpt)`. This might be due to a difference in model implementation and checkpoint.

htt

[2020-01-07 14:00] Belval commented on #61
That is caused by the ampersand (&) that was added to the CHAR_VECTOR variable in config.py. If you remove it, you should be able to load the model.

[2020-01-09 04:50] mrtpk commented on #61
Thanks for the quick response- It solved the issue.

[2020-01-09 04:50] #61 closed

[2020-01-09 10:05] mrtpk commented on #60
Please see the issue #61
It should be CHAR_VECTOR = "0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ-'.!?,\""

[2020-01-13 13:16] mrtpk opened #62 "Scaling input data between 0 and 1"
The pixel intensities of input data are not scaled between 0 and 1. Is there a specific reason for not doing this?
Thanks.

[2020-01-17 13:56] Belval commented on #62
No, this is simply an oversight.

You can open a PR to fix it if you want.

[2020-01-19 13:16] mrtpk commented on #62
PR #63 is created.

[2020-01-20 14:44] #62 closed

[2020-01-27 10:39] shivamkumarsingh114 opened #65 "Default Model gives poor testing result."
I am using the dataset specified by you with images in the format label_index.jpg. However, testing results are very poor.
Dataset being used is: https://node1.belval.org/test_dataset.zip. I stored it in data folder and extracted the images.

Command being executed:  python3 run.py -ex ./data/ --test --restore -bs 32

Output:
Use standard file APIs to check for files with this prefix.
Loading data

[2020-02-24 11:32] mrtpk opened #67 "Possible bug in using Batch normalisation"
- `training` parameter is not given while initialising `tf.layers.batch_normalization`.  The `training` parameter defaults to `False`. Hence while training the moving mean and moving variance won't be updated.

- Since this branch's tf api is <tf2, `tf.GraphKeys.UPDATE_OPS` and `train_op` have to be executed before training [[ref](https://www.tensorflow.org/api_docs/python/tf/compat/v1/layers/batc

[2020-03-20 07:18] LW-CVer opened #68 "batch_dt = sparse_tuple_from(np.reshape(np.array(raw_batch_la), (-1)))应该去掉reshape"

[2020-03-24 06:23] LW-CVer commented on #24
我的是输入数据一样长，所以将传入的sequences再做一次维度变换就好了（因为有时候sequences是一维的数据）

[2020-03-26 12:29] Timthony commented on #65
I have the same problem. Have you solved it?

[2020-03-26 15:25] Timthony commented on #65
I have the same problem. Have you solved it?

[2020-03-26 15:29] Timthony opened #69 "Why the output is the same when using the pretrained model for prediction？"
Output:
Use standard file APIs to check for files with this prefix.
Loading data
Testing
beignet
iiiii
apocynaceous
iiiii
arshine
iiiii

Why is the output always "iiiiii"? I have confirmed that the inputs are different.
Preliminary judgment is a problem with tensorflow environment or api, but no solution is found？

[2020-03-29 09:12] shivamkumarsingh114 commented on #65
I trained the model from scratch. Seems to be working but still not as satisfactory as CRNN should be. I am thinking of rewriting the library from scratch.

[2020-03-30 20:35] Belval commented on #65
Indeed there seems to be a problem somewhere as I cannot train the model or get suitable predictions anymore. I'll investigate but since the code is in TF 1 I might just rewrite it in eager mode.

[2020-04-10 18:00] shivamkumarsingh114 commented on #65
Did you identify the problem?

[2020-04-13 13:24] hsyy673150343 opened #70 "Problems with training Tibetan pictures"
Do you still remember me? I spoke with you on your other open source project last time. This time I wanted to train with the pictures with Tibetan text that I generated last time, but I ran into a problem.
I use the following command:
--trdg -c 200000 -i dicts/zzwt_tibetan_sub_string.txt -ft fonts/latin/Qomolangma-UchenSarchung.ttf -t 8 --word_split

But the following error appears：
Traceback (mos

[2020-04-13 20:49] Belval commented on #70
Use `-na 2` to have the labels written to another file.

[2020-04-14 06:37] hsyy673150343 commented on #70
what`s the format of you training data？I saw in the issues that you said that the label format of the training set is [LABEL]_[NUMBER].[EXT].
Use `-na 2` to have the labels written to another file.Can this also be used for the label format of the training set for this project?

[2020-04-14 17:59] Belval commented on #70
You would have to edit the data manager to load the label file, but keep in mind that this project was built for Latin-based languages, and I do not if it will work at all with Tibetan. You would have to change the `CHAR_VECTOR` to match your characters.

Also, you could try and use the programmable API instead of pre-generated data for your needs. By editing this line: https://github.com/Belval/C

[2020-05-07 06:44] lulupanPPY commented on #67
boy，you saved this code

[2020-05-12 07:29] lulupanPPY commented on #68
agreed

[2020-05-13 03:55] lulupanPPY opened #71 "always training the first 100 batch"
plz take a look at line CRNN.py line 308 and 309, i think you train only the first 100 batch